@media (min-width:800px) {
    .main{
        display: none;
    }
    .aside{
        padding-top: 40px;
        display: block;
        .aside-info{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding: 0px 80px;
    
            .left-aside{
                .aside-title{
                    width: 330px;
                    font-size: 38px;
                    font-weight: 600;
                    color: #fff;
                    padding-bottom: 20px;
                }
    
                .aside-text{
                    width: 330px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    padding-bottom: 20px;
                }
    
                .aside-btn{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    gap: 12px;
                    padding: 22px 44px;
                    border: none;
                    border-radius: 20px;
                    background-color: #A259FF;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                }
                
                .aside-stat{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    padding-top: 20px;
    
                    p{
                        font-size: 22px;
                        font-weight: 700;
                        color: #fff;
                        line-height: 35px
                    }
        
                    span{
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                        
                    }
                }
            }
    
            .right-aside{
                .aside-cards{
                    .aside-box{
                        width: 330px;
                        height: 330px;
                        background-color: #3B3B3B;
                        border: none;
                        border-radius: 20px;
    
                        img{
                            width: 100%;
                        }
    
                        h3{
                            padding: 22px 0px 10px 20px;
                             font-size: 22px;
                            font-weight: 600;
                            color: #fff;
                        }
    
                        .card-info{
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            padding: 0px 0px 0px 20px;
    
                            .avatar{
                                width: 24px;
                                height: 24px;
                            }
    
                            p{
                                font-size: 16px;
                                font-weight: 400;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

   
    
}

